## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Rikitea,PF,73.22,clear sky,-23.1203,-134.9692,People ThankYou
1,6,Mahebourg,MU,73.69,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,8,Vaini,TO,71.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
3,9,Karaton,ID,74.80,scattered clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
4,12,Atuona,PF,77.00,clear sky,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#print(vacation_df[vacation_df['City']=="Olean"])

vacation_start = vacation_df.loc[vacation_df['City']=="Olean"]
vacation_end = vacation_df.loc[vacation_df['City']=="Olean"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Bethel"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Newark"]
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Mayo"]
print(vacation_start, vacation_end,vacation_stop1,vacation_stop2,vacation_stop3)

     City_ID   City Country  Max Temp Description      Lat      Lng  \
252      489  Olean      US     72.18   clear sky  42.0776 -78.4297

                           Hotel Name
252  Best Western Plus University Inn        City_ID   City Country  Max Temp Description      Lat      Lng  \
252      489  Olean      US     72.18   clear sky  42.0776 -78.4297

                           Hotel Name
252  Best Western Plus University Inn       City_ID    City Country  Max Temp Description      Lat     Lng  \
66      133  Bethel      US     76.87   clear sky  41.3712 -73.414

                       Hotel Name
66  Courtyard by Marriott Danbury        City_ID    City Country  Max Temp    Description      Lat      Lng  \
320      614  Newark      US      82.2  broken clouds  40.7357 -74.1724

                                    Hotel Name
320  Robert Treat Hotel, BW Premier Collection       City_ID  City Country  Max Temp      Description      Lat      Lng  \
92      178  Mayo      US     72.39  overcast clouds  38.8876 -76.5119

                              Hotel Name
92  Resorts Resource Group International

In [34]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])
print(start, end, stop1,stop2,stop3)

(42.0776, -78.4297) (42.0776, -78.4297) (41.3712, -73.414) (40.7357, -74.1724) (38.8876, -76.5119)

In [36]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig2 = gmaps.figure()
roundtrip = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig2.add_layer(roundtrip)
fig2

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,489,Olean,US,72.18,clear sky,42.0776,-78.4297,Best Western Plus University Inn
1,133,Bethel,US,76.87,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
2,614,Newark,US,82.20,broken clouds,40.7357,-74.1724,"Robert Treat Hotel, BW Premier Collection"
3,178,Mayo,US,72.39,overcast clouds,38.8876,-76.5119,Resorts Resource Group International

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dt>{Hotel Name}</dt>
<dt><b>City</b></dt><dt>{City}</dt>
<dt><b>Country</b></dt><dt>{Country}</dt>
<dt><b>Current Weather</b></dt><dt>{Description} and {Max Temp}°F</dt>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig3.add_layer(marker_layer)
# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))

In [ ]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig